--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cpu
streamlit
llama-cpp-python
huggingface_hub
gtts
gspread
oauth2client
streamlit-mic-recorder
SpeechRecognition
pydub
requests
python-dotenv
tinyfish
